#i1 {
  /* background-image: url('https://img.freepik.com/free-photo/gradient-blue-abstract-background-smooth-dark-blue-with-black-vignette-studio_1258-68032.jpg?w=740&t=st=1702468444~exp=1702469044~hmac=fca79bf9df6493839eb81dc86e227a54f363618ea3a2e44d4ad0f0cc92b94a97'); */
  width: 100%;
  height: 700px;
  background-color: #0099ff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* clip-path: polygon(0 0, 100% 0%, 100% 49%, 0 85%); */
  clip-path: polygon(0 0, 100% 0%, 100% 64%, 0% 100%);
  /* z-index: -1; */
  position: relative;
}
.zzz{
  margin-top: 20px;
}
#im1{
  position: absolute;
  z-index: 10;
  top: 128px;
  /* left: 0px; */
  right: 28px;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
}
#im2{
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
}
#m{
  margin-left: 50px;
  margin-right: 150px;
}
nav ul li a {
  color: white;
  /* padding-left: 30px; */
  /* padding: 30px; */

}
hr{
  color: white;
}
.zz{
  padding: 23px !important;
}
.zz:hover{
  border-bottom: 1px solid black;
}
.zz:hover ~ .z{
  border-bottom: none !important;
}
.z{
  padding: 23px !important;
  border-bottom: 1px solid black;
}
#m3{
  /* border: 1px solid white; */
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: #0b06a5;
}
nav ul li{
  padding-left: 30px;
  /* padding: 30px; */
}
nav ul li a:hover {
  color: white;
  /* border-bottom: 1px solid black; */
  /* margin-bottom: 5px; */
  
  /* padding-bottom: 20px; */

}

#home {
  padding-top: 100px;
  color: white
  
}

#tex {
  width: 214px;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-right: 15px;
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  /* color: white; */
}

#tex::placeholder {
  color: white;
}

#b {
  background-color: transparent;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  width: 139px;
  color: white;
  padding-right: 35px;
  border: 1px solid white;
  border-radius: 10px;
  position: relative;
}

#sp {
  border-left: 1px solid white;
  padding-top: 6.5px;
  padding-bottom: 7px;
  position: absolute;
  left: 105px;
  top: 0px;
  padding-left: 8px;
}

.sample {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.simple ul li {
  color: black;
  list-style-type: none;
  margin: 10px;
}

.simple ul {
  display: flex;
  flex-direction: row;

}

.animated {
  animation: up-down;
  z-index: 10;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-duration: 2s;
  /* animation-delay: 1s; */
  /* animation-name: bounce; */
  animation-timing-function: ease-in-out;

}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

form {
  padding-top: 30px;
}

#sec2 {
  padding-top: 80px;
  /* padding-bottom: 50px; */
}

#c1 {
  border: 2px solid black;
  text-align: center;
  position: relative;
  border-radius: 10px;
  background-color: orangered;
  color: white;
  /* padding-top: 15px */
  /* z-index:-1; */

}
#c1:hover{
  background-color: orangered;
  color: white;
}
#c1:hover #ll{
  color:black;
  
}
#c2:hover #l2{
  color:black;
  
}
#c3:hover #l3{
  color:black;
  
}
#c2:hover{
  background-color: orangered;
  color: white;
}
#c3:hover{
  background-color: orangered;
  color: white;
}
#mm {
  position: absolute;
  top: 0px;
  /* padding-left: 2px; */
  /* padding-right: 2px; */
  clip-path: circle(50% at 50% 50%);
  /* outline: 1px solid black; */

  left: 50px;
  z-index: 5;
}

#c2 {
  border: 2px solid black;
  text-align: center;
  border-radius: 10px;
  position: relative;
  /* padding-top: 15px */

}

#c3 {
  border: 2px solid black;
  text-align: center;
  border-radius: 10px;
  position: relative;
  /* padding-top: 15px */

}

#b2 {
  padding-left: 15px;
  padding-right: 15px;
  width: 170px;
  background: transparent;
  color: orangered;
  height: 50px;
  border-radius: 10px;
}

#sec3 {
  padding-top: 80px;
}

.tt {
  padding-right: 100px;
}

#sec4 {
  padding-top: 50px;
  /* padding-bottom: 50px; */
}

#d1 {
  border: 2px solid white;
  text-align: center;
  border-radius: 10px;
  position: relative;
  color: white;
  background-color: orangered;
  /* padding-top: 15px */

}

#d2 {
  border: 2px solid white;
  text-align: center;
  border-radius: 10px;
  position: relative;
  /* padding-top: 15px */

}

#d3 {
  border: 2px solid white;
  text-align: center;
  position: relative;
  border-radius: 10px;
  /* padding-top: 15px */

}

#sec5 {
  /* padding-top: 80px; */
  background-color: #0099ff;
  padding-bottom: 200px;
  color: white;
  position: relative;
}

.sec5c1{
  text-align: center;
  color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  position: absolute;
  top: -125px;
  bottom: 0px;
  padding-left: 100px;
  padding-right: 100px;
  height: 250px;
  left: 100px;
  /* box-shadow: 2px; */
  /* border: 1px solid grey; */
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.bbb{text-align: center;}
#sec6{
  height: 200px;
}
ul li{
  list-style: none;
}
#last ul{
  padding-left: 0px;
}
#ll{
  position: absolute;
  border-radius: 80px;
  border: 2px solid black;
  display: inline;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  /* padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px; */
  top: -40px;
  left: 144px;
  background-color: white;
  color: black;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  z-index: 5;
  /* font-size: 45px; */
}

#l2{
  position: absolute;
  border-radius: 80px;
  border: 2px solid black;
  display: inline;
  padding: 10px;
  padding-right: 12px;
  padding-left: 12px;
  /* padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px; */
  top: -40px;
  left: 144px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  /* font-size: 45px; */
}
#l3{
  position: absolute;
  border-radius: 80px;
  border: 2px solid black;
  display: inline;
  padding: 10px;
  padding-right: 12px;
  padding-left: 12px;
  /* padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px; */
  top: -40px;
  left: 144px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  /* font-size: 45px; */
  
}







#l4{
  position: absolute;
  border-radius: 80px;
  border: 2px solid black;
  display: inline;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  /* padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px; */
  top: -40px;
  left: 144px;
  background-color: white;
  color: black;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  /* font-size: 45px; */
}
#l5{
  position: absolute;
  border-radius: 80px;
  border: 2px solid black;
  display: inline;
  padding: 10px;
  color: black;
  padding-right: 12px;
  padding-left: 12px;
  /* padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px; */
  top: -40px;
  left: 144px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  /* font-size: 45px; */
}
#l6{
  position: absolute;
  border-radius: 80px;
  color: black;
  border: 2px solid black;
  display: inline;
  padding: 10px;
  padding-right: 12px;
  padding-left: 12px;
  /* padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px; */
  top: -40px;
  left: 144px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  /* font-size: 45px; */
  
}
#d1:hover{
  background-color: orangered;
  color: white;
}
#d1:hover #l4{
  color:black;
  
}
#d2:hover #l5{
  color:black;
  
}
#d3:hover #l6{
  color:black;
  
}
#d2:hover{
  background-color: orangered;
  color: white;
}
#d3:hover{
  background-color: orangered;
  color: white;
}
.t1{
  border: 2px solid black;
  position: relative;
  z-index: -1;
  padding-left: 78px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.ttt{
  border: 2px solid black;
  position: relative;
  padding-left: 78px;
  z-index: -1;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#ii1{
  position: absolute;
  left: -35px;
  top: 44px;
  border-radius: 50%;
  /* background: transparent; */
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#ii2{
  position: absolute;
  left: -35px;
  top: 44px;
  border-radius: 50%;
  /* background: transparent; */
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#last{

  padding-top: 80px;
}
.cent{
  text-align: center;
  padding-bottom: 40px;
}
.a{
  padding: 0px !important;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  /* margin: 0 2px; */
  background-color: #bbb;
  border-radius: 50%;
  margin-left: 15px;
  display: inline-block;
 
}
.cen{
  text-align: center;
  padding-top: 30px;
}
.navbar{
  padding: 0px !important;
}
hr{
  margin: 0px !important;
}
svg{
  color: #0099ff !important;
}